.Container {
  background-color: $color-gray-light;
}
.createProfile {
  //padding: 20rem;
  padding: 5rem;
  background-color: $color-secondary;
  @include respond(tab-port) {
    padding: 2rem;
  }
}
.addExperience {
  padding: 20rem;
  @include respond(tab-port) {
    padding: 2rem;
  }
}

.form {
  & textarea,
  &datalist,
  & select {
    display: block;
    width: 80%;
    border-radius: 2px;
    border: none;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    border: 0.1px solid rgb(170, 166, 166);
    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.5);
      border: none;
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border: none;
      border-bottom: 3px solid rgb(255, 94, 0);
    }
  }

  &__form-text {
    display: block;
    margin-top: 0.3rem;
    color: rgb(68, 66, 66);
  }
}

.classarea {
  width: 300px;
  height: 180px;
}
