.dashboard {
  //background-color: $color-gray-light;
  background-color: $color-secondary;
  padding: 2.5rem;
  /*   &__title {
    //background-color: red;
    position: relative;
    top: 20%;
    left: 10%;
  } */
}

.dashContainer {
}
