.dashboard {
  //background-color: $color-gray-light;
  position: absolute;
  top: 20%;
  left: 10%;
  height: 100vh;
  /*   &__title {
    //background-color: red;
    position: relative;
    top: 20%;
    left: 10%;
  } */
}
