.feedback {
  position: relative;
  top: 0;
  left: -30%;
  cursor: pointer;

  font-size: 1.5rem;
  color: $color-gray-dark;
  transition: all 0.2s;
  padding: 0.5rem;
  background-color: white;
  display: inline-block;
  border-radius: 2rem;
  &:hover {
    background-color: rgb(248, 247, 247);
    color: $color-primary;
    transform: scale(1.2);
  }
  @include respond(tab-port) {
    left: -15%;
  }
}

.leaveFeedback {
  //background-color: ;
  height: 100vh;
  width: 100%;
}

.starr {
  cursor: pointer;
}

.starRating {
  //background-color: red;
  cursor: pointer;
  padding: 1rem;
}
input[type='radio'] {
  display: none;
}
.starMargin {
  margin: 0.5rem;
}
