.search-sm {
  background-color: $color-gray-light;
  width: 100%;

  text-align: center;
  border-radius: 5rem;
  //padding: 1.5rem;
  display: flex;
  //align-items: center;
  margin-top: 2rem;
  //justify-content: center;
  box-shadow: 0 1rem 2rem rgba($color: #998e8e, $alpha: 0.5);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color: #3b3939, $alpha: 1);
  }
  & input {
    border: none;
    width: 100%;
    padding: 2rem 3rem;
    outline: none;
    //border: 0.005px solid rgb(211, 211, 211);
    border-radius: 5rem;

    &::-webkit-input-placeholder {
      font-weight: 200;
      color: $color-gray-dark-2;
      font-size: 2rem;
    }
  }
}

.selectList {
  border: none;
  display: block;
  width: 100%;
  border-radius: 2px;
  padding: 0.5rem 6rem;
  background-color: $color-gray-light;
  font-size: 1.5rem;
  border-bottom: 3px solid transparent;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.searchBtn {
  background-color: $color-primary;
  padding: 1rem 2rem;
  border-radius: 5rem;
  position: relative;

  //margin-bottom: -5rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: white;

  transition: all 0.2s;
  &:hover {
    box-shadow: 0rem 1rem 1rem rgba($color: #998e8e, $alpha: 1);
    transform: scale(1.02);
  }
}

.hide-bg {
  margin-bottom: 4rem;
  text-align: center;
  width: 100%;
}
.list {
  //background-color: rgb(100, 96, 96);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  position: absolute;
  top: 35%;
  left: 0;
}
.card {
  /*  background: url('../../../public/limpair.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 2rem;
  height: 40rem;
  flex-basis: 28%;*/
  cursor: pointer;
  border-radius: 5px;
  //background-color: red;
  flex-basis: 30%;
  height: 28rem;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.8);
  margin: 2rem;
  overflow: hidden;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  @include respond(tab-port) {
    flex-basis: 80%;
  }
  &__cato-0 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/jardin.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-1 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/arts.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-2 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/cleaning.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-3 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/electronico.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-4 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/cosmetic.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-5 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/build.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-6 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/class.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-7 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/delivery.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }
  &__cato-8 {
    background-image: linear-gradient(to right bottom, gray, transparent),
      url('../../../public/garage.jpeg');

    clip-path: polygon(10% 35%, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 28rem;
    width: 100%;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    /*  text-transform: uppercase; */
    text-align: left;
    color: $color-white;
    position: relative;
    top: 10%;
    left: 10%;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; //to add the pading in the end and the beging of the text
    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      rgb(20, 20, 20)
    );
    &--1 {
    }
  }
}

@include respond(tab-port) {
}

@media (min-width: 700px) {
  .hide-bg {
    display: none;
  }
  .searchBtn {
    display: none;
  }
}
