.setting {
  background-color: $color-gray-light;
  font-size: 2rem;
  font-weight: 400;
  padding: 10rem;
  @include respond(tab-port) {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1rem;
  }
}

.fileLadel {
}
.form {
  &__label {
    color: $color-gray-dark-2;
  }
  &__fileLadel {
    color: $color-primary;
    background-color: $color-gray-light-1;
    padding: 1rem;
    transition: all 0.2s;
    border-bottom: 2px solid $color-primary;
    &:hover {
      padding: 1.1rem;
      color: $color-gray-dark-2;
    }
    @include respond(tab-port) {
    }
  }
  &__group {
    margin: 2rem 0;
    &--photo-upload {
      display: none;
    }
    & input[type='file'] {
      display: none;
    }
    & input {
      display: block;
      width: 100%;
      border-radius: 2px;
      border: none;
      padding: 1.5rem 2rem;
      font-size: 2rem;
      border-bottom: 3px solid transparent;
      width: 100%;
      display: block;
      border: 0.1px solid rgb(170, 166, 166);
      &::-webkit-input-placeholder {
        color: $color-gray-dark-2;
      }
      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.5);
        border: none;
        border-bottom: 3px solid $color-primary;
      }
      &:focus:invalid {
        border: none;
        border-bottom: 3px solid rgb(255, 94, 0);
      }
    }
  }
}

.btnSetting {
  display: inline-block;
  border: none;
  border-radius: 50px;
  padding: 0.4rem 1.3rem;
  margin-top: 1rem;
  background-color: var(--primary-color);
  font-size: 2rem;
  color: white;
  outline: none;

  cursor: pointer;
  transition: all 0.2s ease-in;
}
